In [4]:
import pandas as pd
from IPython.display import display

file_path = "../data/S004_whole_df.csv"
data = pd.read_csv(file_path)

print(data.columns)

Index(['TIMESTAMP', 'BVP', 'ACC_X', 'ACC_Y', 'ACC_Z', 'TEMP', 'EDA', 'HR',
       'IBI', 'Sleep_Stage', 'Obstructive_Apnea', 'Central_Apnea', 'Hypopnea',
       'Multiple_Events'],
      dtype='object')

In [5]:
df = data.drop(['Obstructive_Apnea','Central_Apnea','Hypopnea','Multiple_Events'], axis=1)
display(df.head())

,TIMESTAMP,BVP,ACC_X,ACC_Y,ACC_Z,TEMP,EDA,HR,IBI,Sleep_Stage
0,0.000000,-6.92,61.0,-13.0,-10.0,31.69,9.212656,74.0,NaN,P
1,0.015625,-11.33,61.0,-13.0,-10.0,31.69,9.212656,74.0,NaN,P
2,0.031250,-15.81,60.0,-14.0,-10.0,31.69,9.212656,74.0,NaN,P
3,0.046875,-19.85,60.0,-14.0,-10.0,31.69,9.212656,74.0,NaN,P
4,0.062500,-22.79,61.0,-14.0,-10.0,31.69,9.212656,74.0,NaN,P

In [6]:
unique_values = df['Sleep_Stage'].unique()
print(unique_values)

['P' 'W' 'N1' 'N2' 'N3']

In [8]:
print(df.iloc[:, 0])

0              0.000000
1              0.015625
2              0.031250
3              0.046875
4              0.062500
               ...
1982140    30970.937500
1982141    30970.953125
1982142    30970.968750
1982143    30970.984375
1982144    30971.000000
Name: TIMESTAMP, Length: 1982145, dtype: float64